
$white: #fff;
$black: #000;

/*
  Breakpoints
*/

$brk-point-small:   'screen and (min-width: ' + em(320) + ')';
$brk-point-custom-small:   'screen and (min-width: ' + em(498) + ')';
$brk-point-medium:  'screen and (min-width: '+ em(767) + ')';
$brk-point-custom-medium:  'screen and (min-width: '+ em(989) + ')';
$brk-point-large:   'screen and (min-width: ' + em(1023) + ')';
