html, body {
  height: 100%;
}

.col-40-l {
  @include responsive-block(left, 40%);
}

.col-60-r {
  @include responsive-block(right, 60%);
}

.clearfix:after {
  content:" ";
  display:table;
  clear:both;
}
