
$white: #fff;
$black: #000;


/*
  Font Stacks
*/
$font-size: 16;    

$stack-sans-serif: Helvetica, Arial, sans-serif;
$stack-cursive: cursive;
$stack-righteous: 'Righteous', $stack-sans-serif;
$stack-open-sans: 'Open Sans', $stack-sans-serif;

/*
  Breakpoints
*/

$brk-point-small:   'screen and (min-width: ' + em(320) + ')';
$brk-point-custom-small:   'screen and (min-width: ' + em(498) + ')';
$brk-point-medium:  'screen and (min-width: '+ em(767) + ')';
$brk-point-custom-medium:  'screen and (min-width: '+ em(989) + ')';
$brk-point-large:   'screen and (min-width: ' + em(1023) + ')';
